[submodule "include/jsmn"]
	path = include/jsmn
	url = https://github.com/zserge/jsmn
[submodule "protocol/packet-auto-gen"]
	path = protocol/packet-auto-gen
	url = git://github.com/BigHeadGeorge/packet-auto-gen.git
